*.tmp
*.img

misc/



.vs/



.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

/src/helpers/bin


/mnt/c/Users/mihe/Dropbox/TusMuertOS-Oct2025/src/helpers/disktools/emptydisk01/target
/mnt/c/Users/mihe/Dropbox/TusMuertOS-Oct2025/src/helpers/disktools/emptydisk01/debug