*.tmp
*.img

misc/



.vs/



.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

/src/helpers/bin


C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\emptydisk01\target
C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\emptydisk01\debug

C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\fatstructure02\target
C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\fatstructure02\debug

C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\injectbin03\target
C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\injectbin03\debug

C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\addfiles04\target
C:\Users\mihe\Dropbox\TusMuertOS-Oct2025\src\helpers\addfiles04\debug